.main {
  margin: 4vh 10vw;
  padding: 0px 35px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-div {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 400;
  line-height: 65.59px;
  margin-right: 10px;
}

.ul-div {
  list-style-type: none;
  display: flex;
  color: black;
}

.nav-items {
  margin-left: 20px;
}
.logo-h1 {
  font-weight: 600;
  font-size: 40px;
  margin-right: 0px;
  padding-right: 0px;
}
.span-h1 {
  font-weight: 300;
  margin-left: 0px;
  padding-left: 0px;
}

.btn-download-cv {
  background-color: #ed6f15;
  color: white;
  height: 35px;
  border-width: 0px;
  border-radius: 5px;
  padding: 5px 30px;
}
